<header class="nav">
  <div class="container-app flex h-14 items-center justify-between gap-4">
    <a routerLink="/" class="flex items-center gap-2 font-semibold">
      <span
        class="inline-grid h-7 w-7 place-content-center rounded-lg bg-indigo-600 text-white"
        >S</span
      >
      <span>SrsCards</span>
    </a>

    <nav class="hidden items-center gap-1 sm:flex">
      <a routerLink="/" routerLinkActive="nav-link-active" class="nav-link"
        >Dashboard</a
      >
      <a routerLink="/decks" routerLinkActive="nav-link-active" class="nav-link"
        >Decks</a
      >
      <a routerLink="/stats" routerLinkActive="nav-link-active" class="nav-link"
        >Stats</a
      >
      <a
        routerLink="/study/seed-deck"
        routerLinkActive="nav-link-active"
        class="nav-link"
        >Study (demo)</a
      >
    </nav>

    <button class="btn-ghost" (click)="toggleTheme()" title="Toggle theme">
      <span class="i">🌗</span>
    </button>
  </div>
</header>

<main class="container-app my-6 min-h-[calc(100vh-3.5rem-3rem)]">
  <router-outlet></router-outlet>
</main>

<footer class="container-app my-8 text-center text-xs text-slate-500">
  Built with Angular · Tailwind · SRS
</footer>
